<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home Page</title>
    <%- include('globals/header') %>
</head>

<body>

    <%- include('globals/navbar1') %>

        <!-- ============================================= SIDEBAR ============================================= -->

        <%- include('globals/sidebar') %>

            <!-- ============================================= MAIN SECTION ============================================= -->

            <section class="main_section sections">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="main_head">
                                <h1>Empowering Your Business Strategies</h1>
                                <p>Welcome to Beco Consulting! We are your trusted partners in the world of business
                                    consulting,
                                    offering expert advice and tailored solutions to optimize your company's potential
                                </p>
                            </div>
                            <div class="main_btns">
                                <button class="btns primary_btn">Get started</button>
                                <button class="btns secondary_btn">Learn More <i
                                        class="fa-solid fa-caret-right"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <!-- ============================================= ABOUT US ============================================= -->

            <section class="about_us sections">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="video_loop">
                                <img src="img/about.jpg" alt="" class="img-fluid">
                                <div class="about_play_btn">
                                    <i class="fa-solid fa-play"></i>
                                    <div class="outer_ring"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="about_us_info sections_head">
                                <span class="info_head">ABOUT US</span>
                                <h2>We love to find solutions</h2>
                                <p>"At Beco, we believe that every business has the potential to thrive and achieve
                                    greatness.
                                    We are a team of passionate and experienced professionals committed to your
                                    success."
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="video_overlay">
                    <div class="yt_video">
                        <iframe width="860" height="515"
                            src="https://www.youtube.com/embed/IMxDeACOWCE?si=1qXjMTcVtmGcAmX7"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                    </div>
                </div>
            </section>

            <!-- ============================================= SERVICES ============================================= -->

            <section class="our_services sections">
                <div class="container">
                    <div class="row d-lg-flex d-sm-block  align-items-center ">
                        <div class="col-lg-6 col-sm-12">
                            <span class="info_head">SERVICES</span>
                            <h2 class="head_styling">What we Offer</h2>
                        </div>
                        <div class="col-lg-6 col-sm-12 d-sm-block ">
                            <button class="secondary_btn services_btn">View All</button>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row d-flex justify-content-center align-items-center">
                        <% services.forEach((service)=> { %>
                            <div class="col-lg-4 col-md-6">
                                <div class="services_details">
                                    <div class="services_img">
                                        <img src="img/<%- service.img %>.jpg" alt="" class="img-fluid">
                                    </div>
                                    <div class="services_info">
                                        <span><%- service.span %></span>
                                        <p><%- service.p %>
                                        </p>
                                        <a href=""><%- service.a %><i class="fa-solid fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <% }) %>

                    </div>
                </div>

                <div class="counter_section">
                    <div class="counter_head">
                        <h1>Why we are better than other</h1>
                        <p>Our comprehensive range of senior care services is designed to address the diverse needs of
                            older
                            adults. We believe in treating our clients with dignity, respect, and empathy, fostering a
                            sense
                            of
                            trust.</p>
                    </div>
                    <div class="main_counter">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                    <div class="figures">
                                        <h1>286+</h1>
                                        <p>Team Specialists</p>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                    <div class="figures">
                                        <h1>68</h1>
                                        <p>Team Specialists</p>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                    <div class="figures">
                                        <h1>10K+</h1>
                                        <p>Clients</p>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                    <div class="figures">
                                        <h1>24+</h1>
                                        <p>Years of Experience</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- ============================================= OUR COMPANIES ============================================= -->

            <section class="companies sections">
                <div class="company_head">
                    <p>Trusted and powering benefits for companies like</p>
                </div>
                <div class="companies_list">
                    <marquee behavior="" direction="">
                        <span>GlobalBank</span>
                        <span>LightBox</span>
                        <span>Boltshift</span>
                        <span>Boltshift</span>
                        <span>Spherule</span>
                        <span>FeatherDev</span>
                    </marquee>
                    <!-- <div class="companies_names">
                    <h5>LightBox</h5>
                </div>
                <div class="companies_names">
                    <h5>GlobalShift</h5>
                </div>
                <div class="companies_names">
                    <h5>LightBox</h5>
                </div> -->
                    <!-- <marquee behavior="" direction="">GlobalBank</marquee> -->
                    <!-- <marquee behavior="" direction="">Lightbox</marquee> -->
                </div>
            </section>

            <!-- ============================================= CONTACT US ============================================= -->

            <section class="contact_us sections">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="contact_head">
                                <p>BE A PART OF</p>
                                <h1>Ready to take your business to <span>new heights with Beco?</span></h1>
                                <p class="contact_para">Contact Beco Consulting today and embark on a transformative
                                    journey
                                    towards sustainable
                                    growth and lasting success. Let's shape a brighter future for your business
                                    together.
                                </p>
                            </div>
                            <div class="contact_btn">
                                <button class="primary_btn">Contact Us</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- ============================================= OUR INDUSTRIES ============================================= -->

            <section class="our_industries sections">
                <div class="container">
                    <div class="row">
                        <div class="col-lg">
                            <div class="sections_head">
                                <span class="info_head">OUR INDUSTRIES</span>
                                <h2 class="head_styling">We do it Best</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="industry_img">
                                <img src="img/industry-1.jpg" alt="" class="img-fluid">
                                <div class="industry_overlay">
                                    <button class="primary_btn">Marketing</button>
                                    <h2>Digital Transformation Journey</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="industry_img">
                                <img src="img/industry-2.jpg" alt="" class="img-fluid">
                                <div class="industry_overlay">
                                    <button class="primary_btn">Marketing</button>
                                    <h2>Digital Transformation Journey</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="industry_img">
                                <img src="img/industry-3.jpg" alt="" class="img-fluid">
                                <div class="industry_overlay">
                                    <button class="primary_btn">Marketing</button>
                                    <h2>Digital Transformation Journey</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="industry_img">
                                <img src="img/industry-4.jpg" alt="" class="img-fluid">
                                <div class="industry_overlay">
                                    <button class="primary_btn">Marketing</button>
                                    <h2>Digital Transformation Journey</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="industry_img">
                                <img src="img/industry-5.jpg" alt="" class="img-fluid">
                                <div class="industry_overlay">
                                    <button class="primary_btn">Marketing</button>
                                    <h2>Digital Transformation Journey</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="industry_img">
                                <img src="img/industry-6.jpg" alt="" class="img-fluid">
                                <div class="industry_overlay">
                                    <button class="primary_btn">Marketing</button>
                                    <h2>Digital Transformation Journey</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <!-- ============================================= OUR TEAM ============================================= -->

            <section class="our_team sections">
                <div class="container">
                    <div class="row">
                        <div class="col-lg">
                            <div class="sections_head">
                                <span class="info_head">OUR TEAM</span>
                                <h2 class="head_styling">Meet our members</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <% team.forEach((members)=> { %>

                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="team_main">
                                    <div class="team_img">
                                        <img src="img/<%- members.img %>.jpg" alt="" class="img-fluid ">
                                    </div>
                                    <div class="team_info">
                                        <h3><%- members.h3 %></h3>
                                        <p><%- members.p %></p>
                                        <div class="team_social">
                                            <a href="<%- members.fb %>"><i class="fa-brands fa-facebook"></i></a>
                                            <a href="<%- members.insta %>"><i class="fa-brands fa-instagram"></i></a>
                                            <a href="<%- members.linkedin %>"><i class="fa-brands fa-linkedin"></i></a>
                                            <a href="<%- members.x %>"><i class="fa-brands fa-x-twitter"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                </div>
            </section>

            <!-- ============================================= FAQ ============================================= -->

            <section class="faq sections">
                <div class="container">
                    <div class="row">
                        <div class="col-lg">
                            <div class="sections_head">
                                <span class="info_head">FAQ's</span>
                                <h2 class="head_styling">Experience the power of informed decision-making</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="faq_img d-flex align-items-center">
                                <img src="img\main2.jpg" alt="" class="img-fluid w-100 ">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 pe-5">
                            <div class="faq_info">
                                <h1>The most common questions</h1>
                                <p>Discover how our exceptional team can elevate your business to new heights. Contact
                                    Beco
                                    Consulting today, and let's embark on a transformative partnership that paves the
                                    way
                                    for unparalleled success.</p>
                                <p>Still have any questions?</p>
                            </div>
                            <button class="primary_btn">
                                Contact us <i class="fa-solid fa-arrow-right"></i>
                            </button>
                        </div>
                        <div class="col-lg-6">
                            <div class="accordion accordion-flush" id="accordionFlushExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                            aria-expanded="false" aria-controls="flush-collapseOne">
                                            What exactly does Beco offer in terms of business consulting services?
                                        </button>
                                    </h2>
                                    <div id="flush-collapseOne" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">Clients often want a clear understanding of the
                                            services
                                            provided. This question allows you to outline the range of consulting
                                            solutions
                                            you offer, such as strategic planning, process optimization, financial
                                            analysis,
                                            and more.</div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo"
                                            aria-expanded="false" aria-controls="flush-collapseTwo">
                                            How does Beco tailor its solutions to fit our unique business needs?
                                        </button>
                                    </h2>
                                    <div id="flush-collapseTwo" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">This question allows you to explain your
                                            personalized
                                            approach.</div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header">
                                        <button class="accordion-button collapsed" type="button"
                                            data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"
                                            aria-expanded="false" aria-controls="flush-collapseThree">
                                            How will Beco's consulting services benefit my business?
                                        </button>
                                    </h2>
                                    <div id="flush-collapseThree" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionFlushExample">
                                        <div class="accordion-body">Clients are interested in the value your services
                                            can
                                            bring. Explain the potential benefits, such as improved efficiency,
                                            increased
                                            profitability, better decision-making, and overall business growth.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- ============================================= TESTIMONIALS ============================================= -->

            <section class="testimonials sections">
                <div class="container">
                    <div class="row">
                        <div class="col-lg">
                            <div class="sections_head">
                                <span class="info_head">TESTIMONIALS</span>
                                <h2 class="head_styling">What people say</h2>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <!-- <div class="col-lg-12">
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <h4>1</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi laboriosam tempore vel
                                quasi voluptatum exercitationem omnis odit, fugit tempora quae inventore nihil
                                voluptate
                                vitae possimus at voluptatibus delectus magni molestias dolorem. Ratione illum vitae
                                autem totam sint molestiae error a!</p>
                        </div>
                        <div class="item">
                            <h4>2</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi laboriosam tempore vel
                                quasi voluptatum exercitationem omnis odit, fugit tempora quae inventore nihil
                                voluptate
                                vitae possimus at voluptatibus delectus magni molestias dolorem. Ratione illum vitae
                                autem totam sint molestiae error a!</p>
                        </div>
                        <div class="item">
                            <h4>3</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi laboriosam tempore vel
                                quasi voluptatum exercitationem omnis odit, fugit tempora quae inventore nihil
                                voluptate
                                vitae possimus at voluptatibus delectus magni molestias dolorem. Ratione illum vitae
                                autem totam sint molestiae error a!</p>
                        </div>
                        <div class="item">
                            <h4>3</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi laboriosam tempore vel
                                quasi voluptatum exercitationem omnis odit, fugit tempora quae inventore nihil
                                voluptate
                                vitae possimus at voluptatibus delectus magni molestias dolorem. Ratione illum vitae
                                autem totam sint molestiae error a!</p>
                        </div>
                    </div>
                    </div>
                </div> -->
                    </div>
            </section>

            <!-- ============================================= NEWSLETTER ============================================= -->

            <%- include('globals/newsletter') %>

                <!-- ============================================= FOOTER ============================================= -->

                <%- include('globals/footer') %>

                    <!-- ============================================= SCRIPTS ============================================= -->

                    <%- include('globals/scripts') %>
</body>

</html>