<!DOCTYPE html>
<html lang="en">

<head>
    <title>About Us</title>
    <link rel="stylesheet" href="about.css">
    <%- include('globals/header') %>
</head>

<body>
    <%- include('globals/navbar2') %>

        <!-- ============================================= SIDEBAR ============================================= -->

        <%- include('globals/sidebar') %>

            <!-- ============================================= MAIN SECTION ============================================= -->

            <main>
                <section class="about_section sections">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg">
                                <div class="main_head">
                                    <h1>OUR SERVICES</h1>
                                    <p>At Beco, our mission is to empower you with the knowledge, tools, and strategies
                                        necessary to thrive in an ever-changing business landscape.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>

            <!-- ============================================= HEADING ============================================= -->

            <%- include('globals/newsletter') %>


                <%- include('globals/footer') %>


                    <%- include('globals/scripts') %>


</body>

</html>